# Competition data
official_data
customized_data
*.zip

# Environments: Virtualenv for Windows
venv4W
# Environments: Virtualenv for Linux
venv4L

# Codes
test
*.pyc

# Models & Checkpoints
*.h5
checkpoint
ckpt-*
attns_*.png